<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
    <span class="navbar-brand mb-0 h1">Bear&Bins Graphics Cards Club</span>

      <form  action="search" method="POST" class="form-inline my-2 my-lg-0 mr-3 pull-right">
        <input class="form-control mr-sm-2" type="search" placeholder="search" aria-label="search" name="search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>

    <ul class="navbar-nav pull-right">
      {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('user', uid = current_user.id) }}"> {{current_user.id}} </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('mainpage') }}">Main</a>
        </li>       
      {% else%}
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('register') }}">SignUp</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login') }}">Login</a>
        </li> 
      {% endif %}
    </ul>
    </div>
  </nav>
</head>

<body >
	<table  align="center" style="width:100%" >
		<tr>
			<td>
				<h1> Dear Friend. Welcome Back </h1>
				<img class="irc_mi iDlHV4dbrOS4-pQOPx8XEepE" src="https://images-na.ssl-images-amazon.com/images/I/41ZezwNs0GL._AC_US218_.jpg" >
				<div> Sponsered by Gamazon </div>
			</td>

			<td>
				<h2> Look at offers of the week: </h2>
				<div> Item ID&emsp;Model_Name 
					{% for n in data.items() %}
					<div> <a href="details?item_id={{n[0]}}"> {{n[0]}} </a>: &emsp;&ensp; {{n[1]}} </div>
				</div>
					{% endfor %}
			</td>			
		</tr>
	</table>

</body>
<a href="#" onClick="javascript :history.back(-1);"> Go Back</a>
<p><a href="/logout">Log Out </a></p>
</html>

